#statistikkMain {
    margin-left: 0;
    padding: 0;
    margin-top: 30px;
    display: flex;
    min-height: 80vh;
    width: 100%;
}
#menyLeft {
    padding: 15px;
    background: #18181b;
    border-radius: 15px 0px 0px 15px;
    width: 350px;
}
#menyLeft * {
    color: #fff;
}
#menyLeft .logo h3 {
    margin: 0;
    margin-bottom: 30px;
}
.menu-items .menu-item {
    display: flex;
    padding: 10px 15px;
}
.menu-items button.menu-item {
    border-radius: 15px;
    border: none;
    background: transparent;
    border: solid 2px #4f46e5;
    width: 100%;
    margin-bottom: 20px;
    transition: .1s;
}
.menu-items button.menu-item.active {
    background: #4f46e5;
}
.menu-items button.menu-item:hover {
    background: #4f46e5;
    transition: .1s;
}

.menu-items .menu-item .icon {
    margin: auto;
    margin-right: 15px;
    margin-left: 0;
    display: flex;;
}
.menu-items .menu-item .title {
    font-size: 16px;
    margin: auto;
    margin-left: 0;
}

#statistikkContent {
    border: solid 1px #bebebe;
    padding-left: 15px;
    width: 100%;
}
.ukm-botton-style {
    margin-right: 10px;
    padding: 4px 20px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    border: solid 1px #60aa96;
    color: #60aa96;
}
.ukm-botton-style.correct-button {
    background: #60aa96;
    color: #fff;
}
.ukm-botton-style.not-correct-button {
    background: #ee6f58;
    color: #fff;
    border-color: #ee6f58;
}
.box-statistikk-div {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
}
.box-statistikk-div > div {
    margin-right: 20px;
    display: flex;
}
.box-statistikk {
    border: solid 1px red;
    border-radius: 20px;
    padding: 20px;
    border: solid 1px #e4e4e785;
    background: #fff;
    box-shadow: 1px 2px 5px #00000012;
}
.box-statistikk .info .title {
    font-size: 15px;
    margin: 0;
}
.box-statistikk .info .value {
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
}
.box-statistikk .chart-div {
    margin-top: 20px;
}
.box-statistikk .chart-div.doughnut {
    margin: auto;
    margin-top: 0;
    margin-left: 30px;
}
.chart-full-div {
    border-radius: 20px;
}

/* Phantom loading */
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}
.loaded.phantom,
.loaded .phantom {
    display: none;
}
.phantom-loading {
    animation-duration: .8s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 1000px 104px;
    position: relative;
    overflow: hidden;
    color: #0000 !important;
    fill: #0000 !important;
}
.phantom-loading * {
    fill: transparent;
}

.phantom-loading canvas {
    background: transparent !important;
}